:root {
    --lightgray: #f4f4f4;
    --green: #006600;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-image: url(https://i.ibb.co/2y8GcWd/middle-earth-mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header Styles */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: block;
    background-image: url(https://i.redd.it/27fdrvqshi931.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: var(--green) 3px solid;
}

/* Navigation bar */
#nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin: auto;
}

.list-item {
    height: 100%;
    width: 10%;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    color: var(--lightgray);
}

.list-item a {
    background-color: #35424A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 0;
    text-decoration: none;
    text-align: center;
    color: #000;
    height: 100%;
    width: 100%
}

.list-item a:hover {
    font-weight: bold;
    color: var(--green);
}

.list-item:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
    background-color: none;
}

#header-img {
    height: auto;
    width: 100%;
}

/* Article */
article {
    margin-top: 15vh;
}

#video-div {
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 0 auto 0 auto;
}

.text-box {
    background-color: var(--lightgray);
    border: 1px darkgray solid;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
}

/* About section */
.anchor {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

#about {
    margin: 1rem auto 0 auto;
    width: 80%;
}

/* Guides */
#guide-choices {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.guides {
    padding: 0 1rem 0 1rem;
    width: 40%;
    margin: 0 1rem 0 1rem;
}

#guides-title {
    padding: 0 10px 0 10px;
    width: 40%;
    margin: 1rem auto 1rem auto;
    border: 1px darkgray solid;
    border-radius: 10px;
}

/* Map */
#map {
    text-align: center;
    margin: 1rem auto 1rem auto;
    width: 80%;
}

#map img{
    border-radius: 15px;
    width: 100%;
    height: 85vh;
}

/* Form styles */
form {
    background-color: var(--lightgray);
    padding: 1rem;
    font-size: 1.5em;
    width: 40%;
    margin: 2rem auto 1rem auto;
}

#email {
    height: 25px;
    width: 80%;
    max-width: 300px;
}

#submit-btn {
    padding: 10px 20px 10px 20px;
    margin-top: 1vh;
    background-color: var(--green);
    border-radius: 5px;
    border: 2px #005500 solid;
    font-size: 1rem;
}

#submit-btn:hover {
    background-color: #499A39;
}

/* Footer */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 0 0;
    background-color: #35424A;
    text-align: center;
    font-size: 1.5rem;
    color: var(--lightgray);
}

/* Phone Styles */
@media (max-width: 830px) {

* {
    font-size: .9rem;
}

.list-item {
    width: 25%;
}

.list-item:first-child {
    margin-left: -5%;
    padding-left: 0;
}

#about {
    padding: 1rem 1rem 0 1rem;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#guide-choices {
    flex-direction: column;
    align-items: center;
}

.guides {
    width: 80%;
}
}